@import "./eventsvariables.css";



.about-title{
    font-size: 50px;
    color: var(--heading-text);
    margin-bottom: 20px;
    font-weight: 600;
}

.about-content{
    font-size:20px;
    height: 20%;
    object-fit: fill;
}