

.blog-page {
  background-color: rgb(15, 15, 15);
  background-size:100% 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.blog{
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}



.blog-heading {
  margin-top: 0;
  margin-bottom: 0rem;
  font-size: 40px;
  font-weight: 600;
  color: #177408;
}

.blog-date{
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
  padding: 4px;
}

.blog-bold{
  font-weight: 500;
  font-style: bold;
}


.blog-insta{
  width: 1.25rem;
  height: 1.25rem;
  margin-bottom: 0.7rem;
  display: block;
}

.blog-topLeft{
  margin-right: auto;
  margin-left: 10%;
  color: white;
}

.blog-topRight{
  margin-left: auto;
  margin-right: 16%;
}

.blog-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 0.6rem;
  height: 27rem;
  width:70%;
  box-shadow: 0 2px 4px rgba(53, 226, 0, 0.562);
  border-radius: 1.25rem;
  overflow: auto;
}

.blog-content {
  background-color: rgb(0, 0, 0);
  height: 12.5rem;
  text-align: center;
  color: white;
}

.blog-para{
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0.7rem;
  padding: 0.25rem;
}

.blog-like-dislike{
  display: flex;
  margin-right: auto;
  margin-left: 16%;
  color: white;
}

.blog-bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.like-dislike button {
  margin-right: 0.3rem;
}

.like-dislike span {
  margin-right: 0.3rem;
}

.blog-button{
  border:none;
  background-color: rgb(15, 15, 15);
  height: 2.1rem;
  margin-top: 0.2rem;
  padding: 0.6rem;
  color: rgba(35, 177, 0, 0.829);
}

.blog-button:focus{
  outline: none;
}

.blog-l{ 
  color: #00A3FF;
}

.blog-d{
  color: rgb(114, 0, 0);
}


@media only screen and (max-width: 867px) {
  .blog-card {
    align-items: start;
    overflow: auto;
  }
  .blog-content{
    margin-bottom: 0.7rem;
  }
}

/* Blog Css */
