.contact_block {
    /* background-color: black; */

}

.contact_header {
    width: 100%;
    color: white;
    padding: 30px 0;

}

.contact_header img {
    width: 5rem;
    padding-left: 30px;
}

.contact_heading {
    font-size: 2rem;
    font-weight: 600;
}

.contact_body {
    padding: 30px;
}

.card {
    width: 70%;
    margin-bottom: 50px;
}


.map_block iframe {
    width: 100%;
    height: 600px;
}