@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


body {
background-color: #000000;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: white;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.max-width {
  max-width: 1100px;
  margin: 0px auto;
}

.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cur-po {
  cursor: pointer;
}

.collection-title {
  font-size: 30px;
  color: var(--heading-text);
  margin-bottom: 32px;
  font-weight: 600;
}

.slick-next:before,
.slick-prev:before {
  color: black
}


