@import "./eventsvariables.css";


.header {
    max-width: 1100px;
    margin: 0px auto;
    margin-bottom: 0px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
    /* z-index: 2; */
    /* position: fixed; */
}
.menu-icon-wrapper{
    margin-right: 50px;
    margin-left: 10px;
    /* margin: auto; */
}
.menu-icon{
    font-size: x-large;
    
}
.options{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    height: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: var(--primary-box-shadow);
    box-shadow: var(white);
    border: 1px solid rgb(7, 171, 7);
    background-color: black;

   
}
 @media screen and (max-width: 768px) {
    .options{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    border-radius: 8px;
    height: 300px;
    justify-content: center;
    align-items: center;
    box-shadow: var(--primary-box-shadow);
    box-shadow: var(white);
    border: 1px solid rgb(7, 171, 7);
    background-color: black;
    }
  } 

.tab-item {
    margin-right: 24px;
    padding: 20px 15px 15px 15px;
    border: none;
}

.tab-name {
    font-size: 20px;
    font-weight: 600px;
    margin-left: 10px;
    color: white;
}
.tab-name:hover{
    color: var(--tab-green);
}

.active-tab .tab-name {
    color: var(--tab-green);
}

