* {
  margin : 0;
  padding: 0;
}

.gallary-container {
  /* padding-top : 100px ; */
  /* margin-top : 100px ; */
  /* background-image: url("../images/dgb1.jpg"); */
  background-size: cover;

  background-repeat: no-repeat;

  background-attachment: fixed;

  overflow: hidden;
}

.home_content {
  padding-top: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.home_heading-2 {
  padding-top : 100px;
  display: flex;
  width: 100%;
  color: rgb(65, 146, 77);
  justify-content: center;
  align-items: center;
  font-size: 50%;
  font-weight: 800;
  position: absolute;
  top: 60px;
}

.home_heading-1 {
  padding-top : 100px;
  display: flex;
  width: 100%;
  color: rgb(166, 236, 181);
  justify-content: center;
  align-items: center;
  font-size: 50%;
  font-weight: 500;
  position: absolute;
  top: 4px;
}
.swiper-slide-active img {
  filter: brightness(110%);
  box-shadow: 0 0 12px 12px green;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 350px;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 250px;
    height: auto;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.gallary-container .swiper-container {
  width: 70%;
  position: relative;
  left: 50%;
  bottom: -16vw;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  padding-bottom: 3vw;

  top: 8000px;
}

@media (max-width: 768px) {
  .gallary-container .swiper-container {
    bottom: -58vw;
    padding-bottom: 8vw;
  }
}

.swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 5px;
}
.pp {
  color: rgb(65, 146, 77);
}
.ss {
  text-align: center;
  position: relative;
  top: -40px;
  color: rgb(188, 226, 194);
  font-size: 2rem;
  font-weight: 800;
}
.dd {
  margin-top: 60px;
  padding-top  : 100px;
  position: relative;
  top: 150px;
}
.p1 {
  position: relative;
  top: 250px;
}
.p2 {
  position: relative;
  top: 350px;
}
.p3 {
  position: relative;
  top: 450px;
}
.p4 {
  position: relative;
  top: 650px;
}
