.workshop-main-head-container {
  background-color: #373836;
  background-image: url("../images/WorkshopPage/image1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.workshop-head-container {
  display: flex;
  align-items: center;
}
.workshop-head-text,
.workshop-head-carousel {
  width: 50%;
}
.workshop-head-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.workshop-main-head {
  padding-left: 1rem;
  margin: 5px;
  font-weight: bold;
  font-size: 90px;
  font-family: "IBM Plex Sans", sans-serif;
}
.workshop-head-text {
  color: rgb(255, 255, 255);
}
.workshop-main-head-text {
  padding-left: 1rem;
  margin: 10px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.explorebtn {
  background-color: rgb(9, 181, 0);
  padding: 8px 35px;
  margin-bottom: 50px;
  border-radius: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(0, 0, 0);
  box-shadow: 1px 2px 2px #414141;
}
.explorebtn:hover {
  background-color: rgb(156, 247, 148);
  transition: all ease-out 0.2s;
  box-shadow: 0 0 0;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .workshop-main-head {
    padding-left: 0.5rem;
    font-size: 70px;
  }
  .workshop-main-head-text {
    padding-left: 0.5rem;
    font-size: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .workshop-head-text {
    width: 80%;
  }
  .workshop-main-head {
    padding-left: 0;
    margin: 100px 0 30px 0;
    text-align: center;
    font-size: 90px;
  }
  .workshop-main-head-text {
    padding-left: 0;
    font-size: 18px;
  }
  .workshop-head-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  .workshop-head-text {
    width: 80%;
    text-align: center;
  }
  .workshop-main-head {
    font-size: 70px;
  }
  .explorebtn {
    margin-top: 50px;
  }
}
@media screen and (max-width: 600px) {
  .workshop-main-head {
    font-size: 50px;
  }
}
@media screen and (max-width: 400px) {
  .workshop-main-head {
    font-size: 40px;
  }
}
@media screen and (max-width: 300px) {
  .workshop-main-head {
    font-size: 30px;
  }
  .workshop-main-head-text {
    font-size: 15px;
  }
}

/* Current Workshop CSS */
.current-workshop-container {
  background-image: url("../images/WorkshopPage/bgimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: black;
}
.current-workshop-card {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: #dde6ed;
  border-radius: 20px;
  background: linear-gradient(#ffffff, rgb(188, 251, 186)) padding-box,
    linear-gradient(to left, rgb(17, 131, 0), rgb(145, 255, 207)) border-box;
  border: 4px solid transparent;
}
.current-workshop-head {
  color: white;
  text-align: center;
  padding: 40px 0;
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  font-family: "IBM Plex Sans", sans-serif;
}
.current-workshop-img {
  max-width: 40%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.current-workshop-info {
  padding: 20px 30px 10px 30px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.current-workshop-title {
  font-weight: bold;
  font-size: 40px;
  font-family: "IBM Plex Sans", sans-serif;
}
.current-workshop-description {
  font-size: 17px;
  font-family: "Inter", sans-serif;
  margin: 30px 0;
}
.current-workshop-register-btn {
  margin: 10px 20px;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  background: linear-gradient(rgb(178, 255, 175), #e5f9db) padding-box,
    linear-gradient(to bottom, rgb(33, 215, 5), rgb(145, 255, 207)) border-box;
  border: 3px solid transparent;
  box-shadow: 2px 2px 1px rgb(158, 158, 158);
}
.current-workshop-register-btn-container {
  display: flex;
  justify-content: end;
  text-decoration: none;
}
.current-workshop-register-btn:hover {
  cursor: pointer;
  transition: all ease-out 0.1s;
  box-shadow: 1px 1px 1px rgb(158, 158, 158);
}
@media screen and (max-width: 798px) {
  .current-workshop-card {
    flex-direction: column;
  }
  .current-workshop-img {
    max-width: 100%;
    max-height: 200px;
    border-top-right-radius: 20px;
  }
  .current-workshop-info {
    padding: 10px 30px;
    max-width: 100%;
  }
  .current-workshop-description {
    font-size: 17px;
    font-family: "Inter", sans-serif;
    margin: 15px 0;
  }
}
@media screen and (max-width: 599px) {
  .current-workshop-title {
    font-size: 30px;
  }
  .current-workshop-register-btn-container {
    justify-content: center;
  }
  .current-workshop-head {
    padding: 40px 0;
    font-size: 40px;
  }
  .current-workshop-description {
    font-size: 16px;
    margin: 10px 0;
  }
}
@media screen and (max-width: 399px) {
  .current-workshop-title {
    font-size: 20px;
  }
  .current-workshop-head {
    padding: 30px 0;
    font-size: 30px;
  }
  .current-workshop-description {
    font-size: 15px;
  }
  .current-workshop-card {
    max-width: 90%;
  }
}
