
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');

.bod{
background-attachment: fixed;
margin-top : 100px; 
/* background-color:rgba(0, 0, 0, 0.95); */
}
.title{
    /* text-align: center; */

   

    text-align:center;
    font-size:40px;
    font-weight:400;
    font-family: 'Roboto Slab', serif;
    color:green;
    padding-bottom: 30px;
  
    border : 4px solid;
    /* border-color: linear-gradient(black, red); */
    border : 4px solid ;
    border-top: black;
    border-left: black;
    border-right: black;
    border-radius: 40px;
    
    



}
.team-wrapper{
width:95%;
height:100%;
margin:auto;
margin-top:50px;
justify-content:space-between;
display:flex;
flex-wrap:wrap;
align-items:flex-start;
}

h1{
text-align:center;
}
.Card{
width:300px;
height:300px;
padding:1rem 3rem;
margin-right:5px;
margin-bottom:35px;
padding-bottom:80px;
background-color:#fff;
border-radius:40px;
position:relative;
display:flex;
gap:1rem;
align-items:flex-end;
box-shadow:0px 7px 10px #008001;
transition:0.3s ease-in-out;}
.team-wrapper:hover .Card{


opacity:0.5;
}
.team-wrapper .Card:hover{

    transform:scale(1.1);
    opacity:1;
    .img{

filter:blur(5px);


    }
border:solid 1px #fff ;


}

.team-wrapper:hover .Card{
    opacity:1;

  }
.team-wrapper .Card:hover{
opacity:1;

}



.Card:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:100%;

/* backgrnd */
z-index:2;
transition:0.3s all ;
opacity:0;}
.Card:hover:before{
    opacity:1;

}
.Card img{
width:100%;
height:100%;
border-radius:40px;
object-fit:cover;
position:absolute;
top:0;
left:0;
}

.Card .details{
height:60%;
width:100%;
margin-left:-17px;
 position:relative;
    z-index:3;
    color:#fff;
opacity:0;
    transform:translateY(100px);
    transition:0.5s all;

}
.details>h3,p{
text-align:center;
font-size:20.5px;
font-weight:500;
font-family: 'Roboto Slab', serif;

}
.socialicons{
display:flex;
gap:3.8rem;
justify-content:center;
}
.Card:hover .details{
    opacity:1;
    transform:translateY(50px);
}
.socialicons>a>svg{
color:black;
background-color:white;
width:25px;
height:25px;
margin-top:40px;
border-radius:50%;
padding:8px;
position:relative;
display:block;}

@media only screen and (max-width:1200px) {
.team-wrapper{
justify-content:space-around;
margin-top:30px;

}
.Card{
    width:200px;
    height:200px;
margin-top:-10px;


}
.details>h3,p{
    text-align:center;
    font-size:10.5px;
    font-weight:500;
    font-family: 'Roboto Slab', serif;
    padding-bottom:5px;

    
    }
    .details{
      margin:20px;
    }

    .socialicons>a>svg{
        color:black;
        background-color:white;
        width:15px;
        height:15px;
        margin-top:30px;}

.socialicons{
    gap:2rem;
}





  }


  @media only screen and (max-width:600px) {
    .team-wrapper{
    justify-content:space-around;
    margin-top:30px;
    
    }
    .Card{
        width:200px;
        height:200px;
    margin-top:-10px;
    
    
    }
    .details>h3,p{
        text-align:center;
        font-size:10.5px;
        font-weight:500;
        font-family: 'Roboto Slab', serif;
        padding-bottom:5px;

        
        }
        .details{
          margin:20px;
        }
    
        .socialicons>a>svg{
            color:black;
            background-color:white;
            width:15px;
            height:15px;
            margin-top:30px;}

    .socialicons{
        gap:2rem;
    }
    







    
      }  